<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xadaptersimple">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GridLayoutManagerActivity" />
        <activity android:name=".LinearLayoutManagerActivity" />
        <activity android:name=".StaggeredGridLayoutManagerActivity" />
        <activity android:name=".net.NetWorkActivity" />
        <activity android:name=".CollapsingToolbarLayoutActivity" />
        <activity android:name=".EmptyViewActivity" />
        <activity android:name=".MultipleItemActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".RefreshLayoutActivity" />
        <activity android:name=".DataBindingActivity" />
    </application>

</manifest>